<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">




  <title>Teste</title>
</head>

<body ng-app="myApp">



  <div ng-controller="emailController">
    <div class="row">


      <div class="col-xs-3 col-xs-offset-4 top">

        <form class="" action="" >



          <label title="">Sender</label>
          <input class="form-control input-4" value="" name="" ng-model="email.sender">


          <label title="Name">Message</label>
          <input type="text" class="form-control input-4" value="" name="" ng-model="email.message" >

          <br>
          <button type="button" class="btn btn-info" name="button" ng-click="newEmail()">Save</button>



        </form>

      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src=angular/angular.min.js></script>

<script type="text/javascript" src=index.js></script>

</html>
